Repository gurashish1singh/cookiecutter-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, lizard

black:
  name: Running black from local poetry env
  entry: poetry run black .
  language: system

flake8:
  name: Running flake8 from local poetry env
  entry: poetry run flake8 .
  language: system

isort:
  name: Running isort from local poetry env
  entry: poetry run isort .
  language: system

lizard:
  name: Running lizard from local poetry env
  entry: poetry run lizard
  args:
  - --CCN
  - '8'
  - -a
  - '7'
  - -w
  - -s
  - cyclomatic_complexity
  - -x
  - .\.venv\*
  language: system

Update config files and post hook installation messages (#5)
  .pre-commit-config.yaml
  README.md
  hooks/post_gen_project.py
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: black, flake8, isort, lizard

Removed the pytest and coverage push hooks from bein added as I need a way to skip coverage if no tests are found
  setup.cfg
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/setup.cfg
Due: lizard

pass_filenames=false for flake8 to run only instance and fixing up pyproject.toml
  .pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: lizard

Remove pytest and coverage as push hooks (#6)
  .pre-commit-config.yaml
  setup.cfg
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/setup.cfg
Due: lizard

Update default template
  .gitignore
  .pre-commit-config.yaml
  cookiecutter.json
  hooks/post_gen_project.py
  poetry.lock
  pyproject.toml
  {{ cookiecutter.project_slug }}/.github/workflows/lint.yaml
  {{ cookiecutter.project_slug }}/.gitignore
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/README.md
  {{ cookiecutter.project_slug }}/dev-requirements.txt
  {{ cookiecutter.project_slug }}/requirements.txt
  {{ cookiecutter.project_slug }}/template-pyproject.toml
Due: black, flake8, isort, lizard

add wf
  .github/workflows/lint.yaml
Due: none

add reqs
  .github/workflows/lint.yaml
  requirements/common.txt
  requirements/requirements.txt
Due: none

Redo setup script
  README.md
  setup/__init__.py
  setup/setup.py
  setup/setup.sh
Due: black, flake8, isort, lizard

Update default template (#7)
  .github/workflows/lint.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  cookiecutter.json
  poetry.lock
  pyproject.toml
  requirements/common.txt
  requirements/requirements.txt
  setup/__init__.py
  setup/setup.py
  setup/setup.sh
  {{ cookiecutter.project_slug }}/.github/workflows/lint.yaml
  {{ cookiecutter.project_slug }}/.gitignore
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/README.md
  {{ cookiecutter.project_slug }}/dev-requirements.txt
  {{ cookiecutter.project_slug }}/requirements.txt
  {{ cookiecutter.project_slug }}/template-pyproject.toml
Due: black, flake8, isort, lizard

move baash file to base dir
  setup.sh
Due: none

move baash file to base dir (#10)
  setup.sh
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: .*.py, but not: {{ cookiecutter.project_slug }}
  isort: any of: .*.py, but not: {{ cookiecutter.project_slug }}
  lizard: any of: .*.py
